Source: capomastro
Section: misc
Priority: optional
Maintainer: CE Infrastructure <ce-infrastructure@lists.canonical.com>
Vcs-Browser: https://github.com/capomastro
Build-Depends: debhelper, python, python-setuptools, dh-python, python-tox
Standards-Version: 3.9.5

Package: capomastro
Architecture: all
Homepage: https://github.com/capomastro
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, postgresql, apache2, libapache2-mod-wsgi, rabbitmq-server, python-tz, celeryd
Description: Jenkins best friend
 Capomastro is the new image builder for mobile projects.
